<%- include("partials/header") %> 

<div class="container text-center mt-5">
    <div class="img-thumbnail">
        <img src="<%=campground.Image %> " alt="">
    
        <div class="caption">
            <%= campground.Desc  %> 
        </div>
    </div>
</div>

