<%- include("../partials/header") %> 

<div class="container">
    <!-- Heading -->
    <h1 class="d-flex justify-content-center mt-4">Create a new campground</h1>

<!-- Form starts here -->
    <div class="form-group">
        <form action="/index" method="POST" >
            <div class="row justify-content-center">
                <div class="col-4 align-self-center mb-2">
                    <!-- Two inputs will be taken -->
                    <input type="text" name="name" placeholder="Name" class="form-control mb-1">
                    <input type="text" name="image" placeholder="Image URL" class="form-control mb-1">
                    <input type="text" name="desc" placeholder="Description" class="form-control">

                </div>
            </div>
            
            <!-- The button to redirect the page and submit the form -->
            <div class="row justify-content-center">
                <div class="col-4">
                    <button type="button justify-content-center" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>

            <!-- Link to go back -->
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <a href="/index"> Go back </a>
                </div>
            </div>

        </form>
    </div>

    
</div>


<%- include("../partials/footer") %> 
