img{
    max-width: 100%;
    height: auto;
    /* width: auto; */
}

.row{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.my_col{
    margin-bottom: 20px;

    /* border: 1px solid green; */
}

.col-6{
    /* border: 1px solid red; */
}